<a href="https://colab.research.google.com/github/geral108/PRUEBAS/blob/main/ejercicios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ejercicio 1:
Programa una pregunta al usuario por las ventas de un rango de años y que luego muestre por pantalla una serie con los datos de las ventas ingresada por los datos antes y despues de aplicarles  un decuento del 5%

In [10]:
import pandas as pd
inicio = int(input("Ingrese el año inicial: "))
fin = int(input("Ingrese el año final: "))
ventas = {} # se inicia en vacio para agregar luego datos
for i in range(inicio , fin +1):
  ventas[i] = float(input("Ingrese las ventas del año "+ str(i) +': ')) #el str es una secuencia de datos string que peden ser numericos o tambien pueden ser flotantes(%)
ventas = pd.Series(ventas)
print("Ventas\n", ventas)
print("Ventas con Descuento\n", ventas*0.5)

Ingrese el año inicial: 200
Ingrese el año final: 203
Ingrese las ventas del año 200: 120
Ingrese las ventas del año 201: 120
Ingrese las ventas del año 202: 120
Ingrese las ventas del año 203: 120
Ventas
 200    120.0
201    120.0
202    120.0
203    120.0
dtype: float64
Ventas con Descuento
 200    60.0
201    60.0
202    60.0
203    60.0
dtype: float64

Ejercicio 1.2:
Programa una pregunta al usuario por las ventas de un rango de años y que luego muestre por pantalla una serie con los datos de las ventas ingresada por los datos antes y despues de aplicarles  un decuento del 5%; de los 10 primeros años pares

In [19]:
import pandas as pd
inicio = int(input("Ingrese el año inicial: "))

a_pares = []
secuencia = inicio - 1 if inicio % 2 != 0 else inicio
while len(a_pares) < 10:
    a_pares.append(secuencia)
    secuencia -= 2

ventas = {}
for i in a_pares:
    ventas[i] = float(input("Ingrese las ventas del año " + str(i) + ": "))
ventas = pd.Series(ventas)
print("Ventas\n", ventas)
print("Ventas con Descuento\n", ventas*0.5)

Ingrese el año inicial: 1999
Ingrese las ventas del año 1998: 1200
Ingrese las ventas del año 1996: 1200
Ingrese las ventas del año 1994: 100
Ingrese las ventas del año 1992: 150
Ingrese las ventas del año 1990: 1870
Ingrese las ventas del año 1988: 1360
Ingrese las ventas del año 1986: 1845
Ingrese las ventas del año 1984: 15987
Ingrese las ventas del año 1982: 126
Ingrese las ventas del año 1980: 123
Ventas
 1998     1200.0
1996     1200.0
1994      100.0
1992      150.0
1990     1870.0
1988     1360.0
1986     1845.0
1984    15987.0
1982      126.0
1980      123.0
dtype: float64
Ventas con Descuento
 1998     600.0
1996     600.0
1994      50.0
1992      75.0
1990     935.0
1988     680.0
1986     922.5
1984    7993.5
1982      63.0
1980      61.5
dtype: float64

Ejercicio2: Calculo de estadisticas basicas: media, mediana, desviacion estandar-numpy para el dataframe

In [23]:
import pandas as pd
import numpy as np
# Crear un dataFrame
data = {'Nombre':['Jose' , 'Juan' , 'Maria' , 'Pedro'], 'Edad':[32 , 28 , 45 , 21], 'Ciudad':['Huancayo' , 'La Libertad' , 'Arequipa' , 'Tumbes']}
df = pd.DataFrame(data) #estamos llamando a panda y creamos dataframe para llenar el valor data

#Calcular la media utilizando numpy
media_edad = np.mean(df['Edad'])
print(media_edad)

#Calcular la mediana usando numpy
media_edad = np.median(df['Edad'])
print(media_edad)

#Calcular la desviacion estandar usando numpy
desviacion_edad = np.std(df['Edad'])
print(desviacion_edad)

31.5
30.0
8.73212459828649

Ejercicio2.1: Sacar el maximo y el minimo de las edades

In [25]:
import pandas as pd
import numpy as np
# Crear un dataFrame
data = {'Nombre':['Jose' , 'Juan' , 'Maria' , 'Pedro'], 'Edad':[32 , 28 , 45 , 21], 'Ciudad':['Huancayo' , 'La Libertad' , 'Arequipa' , 'Tumbes']}
df = pd.DataFrame(data) #estamos llamando a panda y creamos dataframe para llenar el valor data

#Calcular el maximo numero con numpy
max_edad = np.max(df['Edad'])
print(max_edad)

#Calcular la minima edad usando numpy
min_edad = np.min(df['Edad'])
print(min_edad)

45
21